.bird{
    background-color: #f00;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0%;
    animation: bird-move 1s infinite;
}

.pipe{
    position: absolute;
    animation: pipe-move 1s infinite;
    height: 100%;
    top: 0;
    bottom: 0;
}

#pipes{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top-pipe{
    background-color: blue;
    top: 0;
    position: absolute;
}

.bottom-pipe{
    background-color: blue;
    bottom: 0;
    position: absolute;
}

body{
    margin: 0;
}

#score{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(0, 90, 41);
    color: white;
    padding: 20px;
}

.buttons {
    position: absolute;
    top: 100px;
    left: 10px;
}
.buttons div {
    background-color: black;
    height: 50px;
    width: 50px;
    display: flex;   
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 12px;
    font-size: 0.6rem;
}
.buttons div.pressed {
    outline: 5px solid #00ff72;
    color: #00ff72;
    font-size: 0.7rem;
}


.monitor {
    position: absolute;
    top: 70px;
    left: 10px;
}